#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;

  user-select: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.logos {
  height: 10rem;
  display: flex;
  opacity: 0.65;
  justify-content: center;
  margin-bottom: -5rem;
  margin-top: 5rem;
}
