.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 5rem;
  margin-bottom: -4.5rem;
  font-weight: bold;
  display: flex;
  text-align: center;
}
.cursor {
  animation: blink 1s infinite;
  right: -0.5em;
  top: 0;
}
@keyframes blink {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.domain {
  font-size: 3.5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.domain .tooltip {
  background-color: var(--background-subtle);
  color: var(--text-normal);
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 1s ease;
  height: fit-content;
}
.domain:has(.tld:hover) .tooltip {
  opacity: 0.75;
}
@media (max-width: 600px) {
  .tooltip {
    display: none;
  }
}

.domain .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  margin-top: -1rem;
  gap: 0.5rem;

  font-size: 1.5rem;
  color: var(--text-subtle);
}
.links a {
  color: inherit;
  padding: 0rem 0.5rem;
  text-decoration: none;
  transition: text-shadow 0.4s ease;
}
.links a:hover {
  text-shadow: var(--background-subtle) 0.5rem 0.5rem 0.1rem;
}
